* {
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    display: none;
}


.base {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(130deg, #000, #000031);
    padding: 10px;
}

ul li {
    color: whitesmoke;
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    /* user-select: none; */
    cursor: pointer;
    position: relative;
}

ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(./Images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked {
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before {
    background-image:url(./Images/checked.png);
}



